@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// VARIABLES
$dark-color: #14110f;
$primary-color-darkblue: #006e90;
$primary-color-lighterblue: #41bbd9;
$primary-color-lightblue: #adcad6;
$secondary-color-yeelowgreen: #ecffb0;
$primary-font: 'Poppins', sans-serif;
$font-size: 20px;
$border: 3px solid $dark-color;
$border-radius: 10px;
$box-shadow: 5px 5px 5px $dark-color;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flexCenter-spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
