.container {
  @include flexCenter;
  max-width: 600px;
  min-width: 300px;
  margin: 5% auto;
  background-color: $primary-color-lighterblue;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.button-container {
  @include flexCenter;
  flex-direction: row;

  span {
    width: 20px;
  }
}
