* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/pattern.svg');
}

@import 'config', 'utilities', 'buttons';

.input-todo {
  @include flexCenter-spaceBetween;
  width: 95%;
  height: 60px;
  margin: 10px auto;
  border: $border;
  border-radius: $border-radius;
  background-color: $secondary-color-yeelowgreen;
  box-shadow: $box-shadow;

  input {
    font-family: $primary-font;
    font-size: $font-size;
    margin: 10px;
    padding: 16px 10px;
    width: 95%;
    height: 75%;
    border: $border;
    box-shadow: $box-shadow;

    &:focus {
      outline: none;
    }
  }
}

.todo-container {
  width: 95%;
}

.popup {
  @include flexCenter-spaceBetween;
  margin: 5px auto;
  padding: 5px;
  border: $border;
  border-radius: $border-radius;
  background-color: $primary-color-darkblue;
  box-shadow: $box-shadow;

  &:last-child {
    margin-bottom: 10px;
  }

  p {
    color: $light-color;
    font-family: $primary-font;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
  }
}
